<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Kimchi Inc. Corporate Portal</title>
</head>
<body style="background-color: #f8f3fa; color: #292b26; font-family: Verdana">
<h1>Welcome to the Kimchi Inc. Corporate Portal</h1>
<p style="font-weight:bold">This is an unsecured page, you may access secure pages by logging into your company account <a href="/secure" th:href="@{/secure}">here</a>.</p>
<p>Don't have an account? Visit <a href="/register" th:href="@{/register}">this</a> page to create one.</p>

</body>
</html>