<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>
<body style="background-color: #f8f3fa; color: #292b26; font-family: Verdana">
<h1>Kimchi Inc. Corporate Login Page</h1>

<form method="post" th:action="@{/login}">

<div th:if="${param.error}">
<div class="error">
Incorrect username and password combination.</div>
</div>

<div th:if="${param.logout}">
<div class="error">
You have been logged out.</div>
</div>

<div> 
Email: <input type="email" name="username" /> <BR><BR>
Password: <input type="password" name="password"/><BR><BR>
<input type="submit" name="login-submit" value="Log in"/>
</div>
</form>
<br>
<br>
<strong>Navigation</strong>
<p><a href="/" th:href="@{/}">Kimchi Inc. Home Page</a></p>
<p><a href="/register" th:href="@{/register}">Create an Account</a></p>
<BR>
<BR>
</body>
</html>